html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*IGNORE ABOVE CODE*/

/* Adding Newton Howard */
@font-face{
    font-family: 'Newton Howard';
    src:url("../Sapru-Regular.otf");
    font-style: normal;
    font-weight: 100;

}

/* Removing scroll bar */
::-webkit-scrollbar{
    display: none;
}


body{
    background-image: url(../bg.jpeg);
    background-repeat: no-repeat;   
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    
    
}
table {
    border-collapse: collapse;
    width: 1300px; /* optional: adjust the width as per your design */
    margin: 0 auto; /* optional: center the table horizontally */
    margin: 70px auto 0;
    margin-bottom: 50px;
    font-family: 'Sapru';
    
  }
  tr:hover {
    background: linear-gradient(45deg, hwb(135 4% 55%),#2f6a5d, #2f6a5d, #2f6a5d, #2f6a5d, #2f6a5d);
    background-size: 400%;
    animation: glowing 20s linear infinite;
}
  th, td {
    border: 5px solid #ccc;
    padding: 8px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size:larger;
    font-weight: bolder;
    letter-spacing: 5px;
    font-family: 'Sapru';
  }
  th {
    background-color: #0c0b0b;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Sapru';
  }

.above{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.main-nav{
    margin: 25px auto 15px auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }
 .main-nav-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 
 .main-nav-item{
     display: flex;
     flex: row;
     justify-content: center;
     align-items: center;
     width: 100% ; 
    font-size: 22px;
    font-family: 'Newton Howard';
    font-style: normal;
    font-weight: 100;
    margin: 5px 5px;
    text-align: center !important;
    /* padding-right: 15px; */
    padding: 5px;
 }

/* .btn{
    position: relative;	
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: #14213D;
	transition-delay: .5s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: #fff;
	transition-delay: .35s;
}

.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px solid  #fff;
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
    /* right: 1; 
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
} */

.btn {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, hwb(116 2% 46%), #03e303, #57cb31, #2afe00, #37ff00, #09bd03);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #000
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.btn1 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  .btn1 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn1:before,
  .btn1:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #FFF;
    transition: all 0.3s ease;
  }
  .btn1:before {
    height: 0%;
    width: 2px;
  }
  .btn1:after {
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
#ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  
  }
  .btn1:hover:before {
    text-decoration: underline;
  }
  .btn1:hover:after {
    transform: scaleX(1);
  transform-origin: bottom left;
  
  }
  .btn1 span:before,
  .btn1 span:after {
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
#ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  }
  .btn1 span:before {
    width: 2px;
    height: 0%;
  }
  .btn1 span:after {
    width: 0%;
    height: 2px;
  }
  .btn1 span:hover:before {
    text-decoration: underline;
  }
  .btn1 span:hover:after {
    transform: scaleX(1);
  transform-origin: bottom left;
  }

.heading{
   width: 100%;
   height: auto;
   display: flex;
   margin-bottom: 60px;
   margin-left: auto;
   margin-right: auto;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
}
hr{
    width: 75% !important; 
}

.h1{
    font-family: 'Newton Howard';
    font-size: 100px;
    letter-spacing: 5%;
}

.sub-nav{
    width: 100%;
    height: auto;
    font-family: 'Newton Howard';
    /* margin: 45px auto 100px auto; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

.sub-nav-list{
    font-size: 25px;
    width: 70%;
    margin: 10px auto;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sub-nav-item{
    width: 100%;    
    letter-spacing: 3px;
    margin: auto 10px;
    text-align: center;
    padding: 5px;
}
/* 
.from-center:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid #fff;
	border-left: 0;
	border-right: 0;
}

.from-center:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: #fff;
}

.from-center:hover:before {
	left: 0;
	width: 100%;
}

.from-center:hover:after {
	top: 0;
	height: 100%;
} */

.teachers-container{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
.core-container{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.department-container .name{
    margin:15px 10px 5px 10px;
	font-size: 16px;
}
.web-container{
    width: 90%;
}
.web-container .name{
    margin:15px 50px 15px 50px;
}

.tech-container{
    width: 90%;
}
.tech-container .name{
    margin:15px 50px 15px 50px;
}

hr{
    width: 100%;
    /*border-top: 10px;*/
}
.subheading{
    text-align: center;
    font-size: 50px;
    font-family: 'Newton Howard';
    margin: 25px auto;
    
}

.row{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: -30px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.outer-box{
    width: 20%;
    height:auto;
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgba(255,255,255, 0);
}


.department-container{
	width: 70%;
}

.tech-container{
	width: 70%;
}

.image-box{
    width: 80%;
    border-radius: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img{
    margin: 20px auto 10px auto;
    width: 100%;
    border-radius: 90px;
    height: auto;
    padding-bottom: 5px;
}

.visible{
    display: none !important;
}

.name{
    margin-top: 4px;
    font-family: 'EB Garamond';
    font-size: 20px;
    text-align: center;
}


#long{
	font-size: 16px;	
}


.desig{
    font-family:'Newton Howard';
    margin: 5px auto 10px auto;
    font-size: 14px;
    color:#ffffff;
    font-family: 'Newton Howard';
    font-style: normal;
    font-weight: 100;
	text-align: center;
    letter-spacing: 2PX;
    line-height: auto;
}

.event-container .outer-box{
    width: 90%;
}
.event-p{
    width: 100% !important;
    height: auto;
    text-align: center;
    padding: 35px 35px;
    line-height: 40px;
}
.image{
    display: none !important;
}

/*START OF MEDIA QUERY*/

@media screen and (max-width:1050px) {
    .main-nav{
        visibility: hidden;
        display: none !important;
    }
    .sub-nav-list{
        font-size: 30px;
        display: none !important;
    }
    .heading{
        font-size: 1000px;
    }
    .subheading{
        display: none !important;
    }
    #why{
        display: none !important;
    }
    .name{
        font-size: 12px;
    }
    .desig{
        font-size: 10px;
    }
    #executive .name{
		font-size: 8px;
	}
	#event .name{
		font-size: 8px;
	}
    .schedule{
        display: none !important;
    }	
    .footer-container{
        display: none !important;
    }
    .heading{
        font-size: 1px;
    }
    .image{
        display: block !important;
        
        margin: 15px;
    }
    .h1{
        display: none !important;
    }
    .h2{
        display: block !important;
    }
}
@media screen and (min-width:1050px){
    .side-nav{
        display: none !important;
    }
    }
@media screen and (max-width:850px) {
    
    .h1{
        font-size: 90px;
    }
    .row{
        flex-direction: column;
    }
    .sub-nav-list{
        flex-direction: column;
    }
    .outer-box{
        width: 50%;
    }
    .name{
        font-size: 18px;
    }
    .desig{
        font-size: 12px;
    }
    
        
    
}

@media screen and (max-width:500px) {
    
    .h1{
        font-size: 70px;
    }
    .outer-box{
        width: 65%;
        margin:10px;
    }
    .name{
        font-size: 15px;
    }
    .desig{
        font-size: 10px;
    }
	
}


/*SIDE_NAV*/

@media screen and (max-width:1000px){
    /*SIDE_NAV*/
    .side-nav{
        visibility: visible !important;
    }
}
    


.side-nav{
    position: fixed;
    top: 10px;
    right: 10px;
    visibility: hidden;
    z-index: 1 !important;    
}

.but-nav{
    width: 100%;
    height: auto   ;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: transparent;
    color: white;
    border-style: none;  
    /* font-size: 150px;  */
    cursor: pointer;  
}

.material-icons{
    font-size: 35px !important;
}
.nav2-column{
    visibility: visible !important;
    z-index: 3 !important;
}
.side-nav-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 60px auto;
}

.close-nav{
    color: white;
    cursor: pointer;
}

.overlay{
    visibility: hidden;
}

.overlay2{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
    z-index: 2 !important;
    cursor: pointer;
}

.nav-hr{
    width: 60% !important;
    margin: 5px auto !important;
}

.li-side{
    width: 50%;
    font-size: 15px;
    margin: 5px auto;
    padding: 15px 15px;

}
.nav-column{
    /* padding: 10px; */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;
}

/*SIDE_NAV_END*/


/*FOOTER*/
.footer-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px ;
    align-items: center;
    background-color: rgb(244, 240, 240);;
    font-size: 20px ;
    padding-bottom: 6px;
    font-family: 'Sapru';
}
.footer{
    width: 62%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-family: 'Sapru';
}
.creds{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    font-family: 'Sapru';
}
.social{
    width: 5px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:right;
    align-items: center;
    color: rgb(16, 16, 16);
    margin-right: -600px !important;
    font-family: 'Sapru';
}

#footer-h2{
    font-family: 'Sapru';
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    color: rgb(10, 10, 10);
    text-decoration: none !important;
    font-weight: 100;
    padding: 5px 15px;
    margin: 20px auto;
    margin-left: -200px;
    justify-content: center;
    margin-right: 100px;
    z-index: 2;
    
}

a{
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-weight: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: 'Sapru';
}

i{
    color: rgb(14, 14, 14);
    cursor: pointer;
    font-family: 'Sapru';
}
/*FOOTER_END*/

